.input {
    padding: 4px 7px;
    height: 28px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
}