.filter__title {
    margin-bottom: 10px;
    font-size: 14px;
}

.filter__body--price {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.filter__body--checkbox-list {
    display: grid;
    row-gap: 10px;
}

.filter__body--colors-list {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
}


