.checkbox {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.checkbox__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.checkbox__real {
    position: absolute;
    left: -100vw;
    width: 0;
    height: 0;
    z-index: -99;
}

.checkbox__custom {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
}

.checkbox__custom::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0) rotate(45deg) scale(0);
    
    width: 4px;
    height: 7px;
    border: 2px solid #000;
    border-top-color: transparent;
    border-left-color: transparent;

    transition: transform 0.2s ease-in;
}

.checkbox__real:checked + .checkbox__custom::after {
    transform: translate(-50%, 0) rotate(45deg) scale(1);
}