@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.widget {
    margin-bottom: 40px;
}

.widget__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 16px;
}

.widget__body {

}

.widget__body--filters-list {
    display: grid;
    gap: 20px;
}
