.color-checkbox {

}

.color-checkbox__real {

}

.color-checkbox__visible {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    
}

.color-checkbox__real:checked + .color-checkbox__visible  {
    border: 2px solid #000;
}

.color-checkbox__visible.color-checkbox__visible--white {
    background-color: #fff;
    border: 1px solid #aeaeae;
}

.color-checkbox__visible.color-checkbox__visible--gray {
    background-color: #d9d9d9;
    border: 1px solid #aeaeae;
}

.color-checkbox__visible.color-checkbox__visible--spacegray {
    background-color: #757575;
    border: 1px solid #aeaeae;
}

.color-checkbox__visible.color-checkbox__visible--yellow {
    background-color: #E6CD73;
    border: 1px solid #aeaeae;
}

.color-checkbox__visible.color-checkbox__visible--blue {
    background-color: #7EB3D9;
    border: 1px solid #aeaeae;
}

.color-checkbox__visible.color-checkbox__visible--green {
    background-color: #AFE4A1;
    border: 1px solid #aeaeae;
}

/*Black*/
.color-checkbox__visible.color-checkbox__visible--black {
    background-color: #000;
    border: 1px solid #aeaeae;
}

.color-checkbox__real:checked + .color-checkbox__visible--black  {
    border: 2px solid #0b89bf;
}